{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all"
}
