.github/**
.vscode-test/**
.vscode/**
screenshots/**
node_modules/**
.gitattributes
.gitignore
.prettierrc
.vscodeignore
package-lock.json
package.json
release.config.js
renovate.json
vsc-extension-quickstart.md
