.editorconfig
.gitattributes
.github/**
.gitignore
.prettierignore
.prettierrc
.vscode-test/**
.vscode/**
.vscodeignore
node_modules/**
package-lock.json
package.json
release.config.js
renovate.json
screenshots/**
vsc-extension-quickstart.md
